
#main {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

header {
	font-size: 30pt;
	
	background-color: #8888CC;
	-webkit-transform: rotate(-2deg); 
	-moz-transform: rotate(-2deg);
	
	border: 2px dashed Black;
	border-radius: 5px;	

	width: 500px;
	height: 50px;
		
	margin-top: 50px;
	margin-bottom: 30px;
}

#canvas-elements {
	position: relative;	
}

#webgl-canvas {
	border: none;	
}

#framecount-canvas {
	position: absolute;
	border: 1px solid White;
	right: 0px;
	top: 0px;

}